*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  margin: 1em;
  padding: 0.5em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px lightblue;
  height: 12em;
  width: 15em;
}

.add{
  border: lightblue 2px solid ;
  padding: 5px 3px;
  margin: 10px 0;
  border-radius: 30px;
}
@media screen and (min-width: 500px){
  .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
}